<mat-sidenav-container class="shell-container">

  <mat-sidenav #snav class="sidenav" fixedInViewport="false" mode="side" opened="true">               

    <header class="header-snav-container">
        <mat-toolbar >
            <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex=100>
                <div>
                  <mat-icon>pets</mat-icon>
                  &nbsp;
                  Akita
                </div>
                <div fxLayout="row" fxLayoutAlign="end center">
                    <!-- <button mat-button (click)="snav.toggle()"><mat-icon>{{apertura ? 'keyboard_arrow_left' : 'keyboard_arrow_right'}}</mat-icon></button> -- -->
                    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
                </div>
            </div>        
        </mat-toolbar>
    </header>
    
    <!-- <mat-card class="nav-side-user">
        <mat-card-header>
            <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba1.jpg">
            <mat-card-title>
              Shiba Inu                                         
            </mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
    </mat-card> -->

    <mat-nav-list class="nav-list">           
      <app-side-menu></app-side-menu>
    </mat-nav-list>

    <mat-divider></mat-divider>

  </mat-sidenav>

  <mat-sidenav-content>
    <header class="header-container">
        <mat-toolbar fxLayout="row" fxLayoutAlign="space-between center" color="primary">      

            <div fxLayout="row" fxLayoutAlign="space-between center">        
              <button *ngIf="!snav.opened" mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
              <span>ClientApp</span>
            </div>      
      
            <div>
              <button mat-icon-button [matMenuTriggerFor]="menuMensajes">
                <mat-icon matBadge="" matBadgeColor="warn">email</mat-icon>
              </button>
      
              <button mat-icon-button [matMenuTriggerFor]="menuNotificaciones">
                <mat-icon matBadge="15" matBadgeColor="warn">notifications</mat-icon>
              </button>
      
              <button mat-icon-button [matMenuTriggerFor]="menuMas">
                <mat-icon>more_vert</mat-icon>
              </button>
      
              <mat-menu #menuMensajes="matMenu">
                  <button mat-menu-item>
                    <mat-icon>dialpad</mat-icon>
                    <span>Redial</span>
                  </button>
                  <button mat-menu-item disabled>
                    <mat-icon>voicemail</mat-icon>
                    <span>Check voicemail</span>
                  </button>
                  <button mat-menu-item>
                    <mat-icon>notifications_off</mat-icon>
                    <span>Disable alerts</span>
                  </button>
                </mat-menu>
      
                <mat-menu #menuNotificaciones="matMenu">
                    <button mat-menu-item>
                      <mat-icon>dialpad</mat-icon>
                      <span>Redial</span>
                    </button>
                    <button mat-menu-item disabled>
                      <mat-icon>voicemail</mat-icon>
                      <span>Check voicemail</span>
                    </button>
                    <button mat-menu-item>
                      <mat-icon>notifications_off</mat-icon>
                      <span>Disable alerts</span>
                    </button>
                  </mat-menu>
      
                  <mat-menu #menuMas="matMenu">
                      <button mat-menu-item>
                        <mat-icon>dialpad</mat-icon>
                        <span>Redial</span>
                      </button>
                      <button mat-menu-item disabled>
                        <mat-icon>voicemail</mat-icon>
                        <span>Check voicemail</span>
                      </button>
                      <button mat-menu-item>
                        <mat-icon>notifications_off</mat-icon>
                        <span>Disable alerts</span>
                      </button>
                    </mat-menu>
            </div>
      
      
          </mat-toolbar>
    </header>
    <!--  -->
    
    
    <section class="section-container">     
      <div style="padding: 10px;">
          <router-outlet></router-outlet>         
      </div>
    </section>

  </mat-sidenav-content>
</mat-sidenav-container>
