
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

section{  
  height:90%;
  overflow:auto;  
}

.navList {
  height: 82%;
  overflow: auto;
}
